<% layout('layouts/boilerplate') %>


    <div class="row">
        <h3 class="">Search for books:</h3>
        <div class="mb-3">
            <form action="/books/search" method="GET">
                <!-- <div class="input-group mb-3">
                    <span class="input-group-text" id="general">general</span>
                    <input type="text" class="form-control" id="general" aria-describedby="general"
                        name="search[general]">
                    <button class="btn btn-info btn-outline-secondary" type="submit">Search</button>
                </div> -->
                <!-- <h3 class="">Filters</h3> -->
                <% for (let filter of filters){ %>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="<%= filter%>">
                            <%= filter%>
                        </span>
                        <input type="text" class="form-control" id="<%= filter%>" aria-describedby="<%= filter%>"
                            name="search[<%= filter%>]">
                    </div>
                    <% } %>
                        <div>
                            <p class="d-inline">Genres:</p>
                            <% for (let genre of genres){ %>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="<%= genre %>"
                                        name="search[genres][<%= genre %>]" value=true>
                                    <label class="form-check-label" for="<%= genre %>">
                                        <%= genre %>
                                    </label>
                                </div>
                                <% } %>
                        </div>
                        <button class="btn btn-info btn-large btn-outline-secondary" type="submit">Search</button>
            </form>
        </div>
    </div>

    <h1>All Books</h1>

    <!-- <div><a href="/books/new" class="btn btn-info my-3">Add new book</a></div> -->

    <% for (let book of books){ %>
        <div class="card" mb-3>
            <div class="row">
                <div class="col-md-2">
                    <img class="img-fluid" src="<%= book.image %>" alt="">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= book.title %>
                        </h5>
                        <p class="card-text text-muted">
                            written by <%= book.author %>
                        </p>
                        <p class="card-text">
                            <%= book.blurb %>
                        </p>
                        <p class="card-text">
                            This copy is owned by <%= book.owner.username %>
                        </p>
                        <a href="/books/<%= book._id %>" class="btn btn-primary">View <%= book.title %></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>